nav {
  width: 100vw;
  height: 5rem;
  display: grid;
  place-items: center;
  background: var(--color-primary);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9; /* so it sits above everything on the page */
  box-shadow: 0 1rem 1.5rem hsla(var(--primary-hue), 68%, 42%, 20%);
  transition: var(--transition);
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  width: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
}

.nav__menu {
  display: flex;
  gap: 3.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__menu li {
  display: inline-block;
  margin-right: 10px;
}

.nav__menu a {
  position: relative;
  text-decoration: none;
  color: white;
}

.nav__menu a::before {
  content: "";
  position: absolute;
  bottom: -20%;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #fff; /* Set your underline color */
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out;
}

.nav__menu a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#theme__icon {
  background: transparent;
  color: var(--color-white);
  font-size: 2rem;
  cursor: pointer;
}
/* On tablets we don't want the nav menu to show */
@media screen and (max-width: 1024px) {
  .nav__menu {
    display: none;
  }
}
